.container{
    padding: 0px 20px !important;
}


.detail {
    background-color: rgb(37, 32, 32);
    color: white;
    text-align: center;
    padding: 10px 0px;
}

.input{
    border: 2px solid black;
    border-radius: 10px;
}

.text{
    color: black;
}

.links{
    margin-top: 5px;
}